<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Orsol Filaj" />
    <meta name="description" content="PHP OOP 1" />

    <!-- Link Bootstrap Css  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <!-- Link style CSS  -->
    <link rel="stylesheet" href="./style/style.css">
    <!-- Vue3  -->
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>


    <title>PHP OOP 1</title>
</head>

<body>
    <header class="bg-secondary text-light text-center p-3 mb-4">
        <h1>Top Movies</h1>
    </header>
    <main class="bg-body-tertiary">
        <!-- Container  -->
        <div class="container" id="app">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                <div class="col" v-for="movie in moviesList">
                    <div class="card shadow mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="./img/logo.jpg" class="img-fluid rounded-start" alt="logo">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{movie.title}}</h5>
                                    <p class="card-text">
                                        Genre: <span v-for="genre in movie.genre">{{genre}},</span>
                                    </p>
                                    <p class="card-text">Year: {{movie.year}}</p>
                                    <p class="card-text"><small class="text-body-secondary">Rating:
                                            {{movie.rate}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Script js  -->
    <script type="module" src="./js/main.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Bootstrap and js scripts  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>